﻿@model MovieTitles.Models.Title

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Title</legend>
    
    <div class="display-container">
    <div class="display-label">
         @Html.DisplayNameFor(model => model.TitleName):
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TitleName)
    </div>
    </div>
       
    <div class="display-container">
    <div class="display-label">
         @Html.DisplayNameFor(model => model.ReleaseYear):
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ReleaseYear)
    </div>
    </div>
    
    <div class="display-container">
    <div class="display-label">
         @Html.DisplayNameFor(model => model.ProcessedDateTimeUTC):
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProcessedDateTimeUTC)
    </div>
    </div>
</fieldset>
<p>    
    @Html.ActionLink("Back to List", "Index")
</p>
