﻿@model MovieTitles.Models.Title

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Title</legend>

        @Html.HiddenFor(model => model.TitleId)

        <div class="editor-label">
            @Html.LabelFor(model => model.TitleName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TitleName)
            @Html.ValidationMessageFor(model => model.TitleName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TitleNameSortable)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TitleNameSortable)
            @Html.ValidationMessageFor(model => model.TitleNameSortable)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TitleTypeId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TitleTypeId)
            @Html.ValidationMessageFor(model => model.TitleTypeId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ReleaseYear)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ReleaseYear)
            @Html.ValidationMessageFor(model => model.ReleaseYear)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ProcessedDateTimeUTC)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ProcessedDateTimeUTC)
            @Html.ValidationMessageFor(model => model.ProcessedDateTimeUTC)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
