﻿@model IEnumerable<MovieTitles.Models.Title>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p> 
    @using (Html.BeginForm("Index","Titles",FormMethod.Get)){     
         <p>Genre: @Html.DropDownList("movieGenre", "All")   
           Title: @Html.TextBox("SearchString")   
         <input type="submit" value="Search" />
         </p> 
        } 
</p>
<table cellpadding="3" cellspacing="3" style="width:70%;">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TitleName)
        </th>        
        <th>
            @Html.DisplayNameFor(model => model.ReleaseYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProcessedDateTimeUTC)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TitleName)
        </td>       
        <td>
            @Html.DisplayFor(modelItem => item.ReleaseYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProcessedDateTimeUTC)
        </td>
        <td>            
            @Html.ActionLink("Details", "Details", new { id=item.TitleId }) 
        </td>
    </tr>
}

</table>
